<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Boards</title>
</head>
<body>
  <h1>Boards</h1>

  <table border="1">
    <thead>
      <tr>
        <td>Board</td>
        <td>Post</td>
        <td>Topics</td>
        <td>Last Post</td>
      </tr>
    </thead>
    <tbody>
      {% for board in boards %}
      <tr>
        <td>{{ board.name }}<br>
          <small style="color: #888">{{ board.description }}</small>
        </td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</body>
</html>
